<html>
    <head>
        <title>Futbol!</title>
    </head>
    <body>
        <h1>What soccer player are you?</h1>
        <h2>What is your favorite position?</h2>
        <form action="/futbol" method="POST">
        <input type=radio name="position" value="Striker">Striker<br>
        <input type=radio name="position" value="Centermid">Centermid<br>
        <input type=radio name="position" value="Centerback">Centerback<br>
        <h2>What is your favorite way to score a goal?</h2>
        <input type=radio name="goal" value="Pass the ball into the goal">Pass the ball into the goal<br>
        <input type=radio name="goal" value="Dribble past the goalie">Dribble past the goalie<br>
        <input type=radio name="goal" value="Header">Header<br>
        <h2>What is your mindset during a game?</h2>
        <input type=radio name="mindset" value="Defense">Defense<br>
        <input type=radio name="mindset" value="Be the difference">Be the difference<br>
        <input type=radio name="mindset" value="Help the game flow">Help the game flow<br>
        <h2>Which team do you hate the least?</h2>
        <input type=radio name="team" value="Madrid">Madrid<br>
        <input type=radio name="team" value="Liverpool">Liverpool<br>
        <input type=radio name="team" value="Barcelona">Barcelona<br>
        <h2>Which is your best physical attribute?</h2>
        <input type=radio name="best" value="Quick as lightning">Quick as lightning<br>
        <input type=radio name="best" value="Human tank">Human tank<br>
        <input type=radio name="best" value="Run for miles">Run for ages<br>
            <input type="submit" value="Submit"/>
        </form>
        {% if futbol %} 
        <p>{{futbol}}</p> 
        {% endif %}
    </body>
</html>