<html>
    <head>
        <title>hamburger!</title>
    </head>
    <body>
        <h1>Which is your favorite food chain?</h1>
        <h2>What type of food is your favorite?</h2>
        <form>
        <input type=radio name="type" value="Traditional american">Traditional american<br>
        <input type=radio name="type" value="Fried">Fried<br>
        <input type=radio name="type" value="Mexican">Mexican<br>
        <h2>Which type of meat is your favorite?</h2>
        <input type=radio name="meat" value="Beef">Dribble past the goalie<br>
        <input type=radio name="meat" value="Chicken">Pass it into the goal<br>
        <input type=radio name="meat" value="Don't care as long as it's in a taco">Header<br>
        <h2>Whats your favorite color?</h2>
        <input type=radio name="color" value="Yellow">Yellow<br>
        <input type=radio name="color" value="Red">Red<br>
        <input type=radio name="color" value="Purple">Purple<br>
        <h2></h2>
        <input type=radio name="goal" value="Dribble past the goalie">Dribble past the goalie<br>
        <input type=radio name="goal" value="Pass it into the goal">Pass it into the goal<br>
        <input type=radio name="goal" value="Header">Header<br>
        <h2></h2>
        <input type=radio name="goal" value="Dribble past the goalie">Dribble past the goalie<br>
        <input type=radio name="goal" value="Pass it into the goal">Pass it into the goal<br>
        <input type=radio name="goal" value="Header">Header<br>
        
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>