<html>
    <head>
        <title>hamburger!</title>
    </head>
    <body>
        <h1>What condements are you?</h1>
        <h2>We can build a full webpage here</h2>
        <form>
        <input type=radio name="goal" value="dribble past the goalie">Dribble past the goalie<br>
        <input type=radio name="goal" value="pass it into the goal">Pass it into the goal<br>
        <input type=radio name="goal" value="header">Header<br>
        <h2></h2>
        <input type=radio name="goal" value="dribble past the goalie">Dribble past the goalie<br>
        <input type=radio name="goal" value="pass it into the goal">Pass it into the goal<br>
        <input type=radio name="goal" value="header">Header<br>
        <h2></h2>
        <input type=radio name="goal" value="dribble past the goalie">Dribble past the goalie<br>
        <input type=radio name="goal" value="pass it into the goal">Pass it into the goal<br>
        <input type=radio name="goal" value="header">Header<br>
        <h2></h2>
        <input type=radio name="goal" value="dribble past the goalie">Dribble past the goalie<br>
        <input type=radio name="goal" value="pass it into the goal">Pass it into the goal<br>
        <input type=radio name="goal" value="header">Header<br>
        <h2></h2>
        <input type=radio name="goal" value="dribble past the goalie">Dribble past the goalie<br>
        <input type=radio name="goal" value="pass it into the goal">Pass it into the goal<br>
        <input type=radio name="goal" value="header">Header<br>
        
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>