<html>
	<head>
		<title>Buzzfeed</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Buzzfeed</h1>
						<p>Nicolas Fernandez &nbsp;&bull;&nbsp; Ashley Jagai</p>
						<nav>
							<ul>
								<li><a href="/music" class="fas fa-music"><p>What music genre are you?</p><span class="label">Music</span></a></li>
								<li><a href="/hamburger" class="fas fa-hamburger"><p>What condiments are you?</p><span class="label">Hamburger</span></a></li>
								<li><a href="/futbol" class="icon far fa-futbol"><p>What soccer player are you?</p><span class="label">Futbol</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>.</span>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>