<html>
    <head>
        <title>Music!</title>
    </head>
    <body>
        <h1>What music genre are you?</h1>
        <h2>How do you get your style?</h2>
        <form>
        <input type=radio name="style" value="make your own style">Make your own style<br>
        <input type=radio name="style" value="identify with past generations">Identify with past generations<br>
        <input type=radio name="style" value="conform with the masses">Conform with the masses<br>
        <h2>Why do you listen to music?</h2>
        <input type=radio name="why" value="Appreciating background music">Appreciating background music<br>
        <input type=radio name="why" value="For good suggestions in family parties">For a good suggestion in a family parties<br>
        <input type=radio name="why" value="Just listening to the radio">Just listening to the radio<br>
        <h2>How does your favorite song make you feel?</h2>
        <input type=radio name="feel" value="Inspired">Inspired<br>
        <input type=radio name="feel" value="Nostalgic">Nostalgic<br>
        <input type=radio name="feel" value="Depends on my mood">Depends on my mood<br>
        <h2>Where do you listen to music?</h2>
        <input type=radio name="where" value="Anywhere with some company">Anywhere with some company<br>
        <input type=radio name="where" value="Road trip">Road trip<br>
        <input type=radio name="where" value="In my room">In my room<br>
        <h2>Which artist is your favorite</h2>
        <input type=radio name="artist" value="Louis Daniel Armstrong">Louis Daniel Armstrong<br>
        <input type=radio name="artist" value="The Beatles">The Beatles<br>
        <input type=radio name="artist" value="Billie Eilish">Billie Eillish<br>
        <input type="submit" value="Submit"/>
        </form>
    </body>
</html>